* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boxes {
  position: relative;
  display: flex;
  width: 100vw;
  height: 50vh;
  transition: all 0.2s ease-out;
  box-shadow: 0px 0px 5px 0px black;
}

.ttable:hover {
  box-shadow: 0px 0px 5px 0px black;
}
.ttable {
  margin: 20px 0px 0px 10px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 35vw;
  transition: all 0.2s ease-in-out;
  height: 40vh;
  border-radius: 10px;
}
.ttable img {
  border-radius: 10px;
  border: 2px solid black;
  width: 30vw;
  height: 40wh;
}
.ttable a {
  text-decoration: none;
  margin: 5px;
  font-size: 1.5rem;
  color: black;
}

@media screen and (max-width: 450px) {
  .boxes {
    height: 30vh;
  }
  .ttable {
    height: 15vh;
  }
  .ttable a {
    font-size: 1rem;
  }
}
