.lblock a {
  font-size: 11px;
}
#search {
  display: none;
}
/* ####################################################33 */

#second address {
  display: flex;
  flex-direction: column;
}
.hblock::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 25%;
  background-image: url(img/Avtar.jpeg);
  width: 50%;
  z-index: -1;
  height: 30%;
  background-position-y: center;
  background-size: cover;
  background-position-x: center;
  box-shadow: 0px 0px 30px 0px #373737;
}
.contaner {
  font-size: 0.5rem;

  width: 100vw;
}
/* .himg img {
  display: none;
}
.tcontant {
  margin-top: 220px;
}
 */
